		*,
		*:before,
		*:after{
			box-sizing: border-box;
		}

		body{
			font-family: Lato;
		}
		
		header{
			color: #888;
		}

		header h1{
			font-size: 30px;
		}

		.container{
			/*max-width: 700px;*/
			margin: 0 auto;
		}

		#content{
			/*border: 2px solid grey;*/
			background:var(--grey300);
			padding: 18px;
			margin-left: 215px;
			height: 1000px;
			color: grey;
		}

		#sidebar{
			float: left;
			width: 200px;
			color: white;
			will-change: min-height;
		}

		#sidebar .sidebar__inner{
			/*border: 2px dotted red;*/
			background:#03A9F4;
			padding: 10px;
			position: relative;
			transform: translate(0, 0);
			transform: translate3d(0, 0, 0);
			will-change: position, transform;
		}

		footer{
			height: 75vh;
			margin-top: 20px;
			text-align: center;
			background:#FF5722;
			color:white;
			line-height: 75vh;
		}

		footer p{
			margin: 0;
		}