/* note: linkplay: #FFE3A6 */


nav a {
    font-family:'Barlow';
    font-weight:500 !important;
    letter-spacing:1px !important;
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 12px;
}
nav a:hover, nav a:focus {
    outline: none;
    color: #000;
}
.cl-effect-4 a {
    padding: 0 0 10px;
}
.cl-effect-4 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
.cl-effect-4 a:hover::after, .cl-effect-4 a:focus::after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
/* ============================
BODY LINK
============================== */


.body_link {
    color: black;
    font-style: italic;
    border-bottom: 3px var(--linkplay) solid;
}
.body_link:hover,
.body_link:focus,
.body_link:active,
.body_link::after {
    color: black;
    cursor: pointer;
    background-color: var(--linkplay);
    transition: 0.25s ease;
}


.body_link1 {
    color: black;
    font-style: italic;
    border-bottom: 3px var(--linkwork) solid;
}
.body_link1:hover,
.body_link1:focus,
.body_link1:active,
.body_link1::after {
    color: black;
    cursor: pointer;
    background-color: var(--linkwork);
    transition: 0.25s ease;
}


.body_link1:hover::after,
.body_link1:focus::after,
.body_link1:active::after{
    color: black;
    cursor: pointer;
    background-color: var(--linkwork);
    /*transition: 0.25s ease;*/
}


.body_link2{
    color: black;
    font-style: italic;
    border-bottom: 3px var(--linkneutral) solid;
}
.body_link2:hover,
.body_link2:focus,
.body_link2:active,
.body_link2::after {
    color: black;
    cursor: pointer;
    background-color: var(--linkneutral);
    transition: 0.25s ease;
}

/* ============================
LARGE QUOTE
=============================== */

.quote_container {
    min-height:300px;
    display:table;
    width:100%;
    margin-bottom:5vh;

}

.quote_container.play {
    background:var(--bgplay);
    /*background:transparent;*/
}

.quote_container.work {
    background:var(--bgwork);
}

.quote_inner {
    display:table-cell;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding:40px;
}

/* hard-coded image styling for demo */
.quote_img_container {
    margin-bottom:50px;
}

.quote_img {
    background:url('quote1a.png');
    background-repeat:no-repeat;
    height:415px;
    width:750px;
    transition:0.25s ease;
}

.quote_img:hover,
.quote_img:focus,
.quote_img:active {
    background:url('quote2a.png');
    background-repeat:no-repeat;
    height:415px;
    width:750px;
    transition:0.25s ease;
}

.quote_img1 {
    background:url('quote1b.png');
    background-repeat:no-repeat;
    height:415px;
    width:750px;
    transition:0.25s ease;
}

.quote_img1:hover {
    background:url('quote2b.png');
    background-repeat:no-repeat;
    height:415px;
    width:750px;
    transition:0.25s ease;
}

/* for the actual dynamic text quote */
.large_quote {
    color:black;
    font-size:44px;
    line-height:45px;
    transition:0.25s ease;
    font-family:"ArnhemFine" !important;
    font-weight:bold;
    margin-bottom:0;
    font-style:italic;
    position:relative;
}

.large_quote:hover {
    cursor:pointer !important;
    transition:0.25s ease;
/*    text-decoration:underline;
    text-decoration-color:var(--linkplay);
    -webkit-text-decoration-color:var(--linkplay);*/

}

.large_quote.play {
    /*border-bottom:3px solid var(--linkplay);*/
    text-decoration:underline;
    text-decoration-color:var(--linkplay);
    -webkit-text-decoration-color:var(--linkplay);
}

.large_quote.play:hover {
    color:var(--linkplay1);
}

.large_quote.work{
    /*border-bottom:2px solid var(--linkwork);*/
    text-decoration:underline;
    text-decoration-color:var(--linkwork);
    -webkit-text-decoration-color:var(--linkwork);
}

.large_quote.work:hover {
    color:var(--linkwork1);
    text-decoration:underline;
    text-decoration-color:var(--linkwork);
    -webkit-text-decoration-color:var(--linkwork);
}

/* ============================
SUBCATEGORY LINKS
=============================== */

.subcategory {
    color:black;
    padding-right:3px;
    font-weight:500;
    font-size:13px;
    letter-spacing:1px;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    transition: border 0.2s ease;
}
.subcategory:hover,
.subcategory:active,
.subcategory:focus {
    color:black;
    transition: border 0.3s ease;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
}

.work_play {
    color:var(--linkwork1);
    padding-left:3px;
    font-weight:500;
    font-size:13px;
    letter-spacing:1px;
    border-bottom: 1px solid rgba(86, 162, 178, 0);
    transition: border 0.2s ease;
}

.work_play:hover,
.work_play:active,
.work_play:focus {
    color:var(--linkwork1);
    transition:0.3s ease;
    border-bottom: 1px solid rgba(86, 162, 178, 1);
}




/* ============================
SOCIAL MEDIA ICON HOVER
=============================== */

i:hover {
    cursor: pointer;
}
.list {
    padding: 0;
}
.list li {
    display: inline;
    padding-right: 20px;
}
.fa-twitter:hover {
    color: #1da1f2;
    transition:0.25s ease;
}
.fa-facebook:hover {
    color: #3b5998;
    transition:0.25s ease;
}
.fa-pinterest:hover {
    color: #C92228;
    transition:0.25s ease;
}