/* note: linkplay: #FFE3A6 */


nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
    font-size: 12px;
}
nav a:hover, nav a:focus {
    outline: none;
    color: #000;
}
.cl-effect-4 a {
    padding: 0 0 10px;
}
.cl-effect-4 a::after {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
.cl-effect-4 a:hover::after, .cl-effect-4 a:focus::after {
    height: 2px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
/* ============================
BODY LINK
============================== */


.body_link {
    color: black;
    font-style: italic;
    border-bottom: 3px var(--linkplay) solid;
}
.body_link:hover {
    color: black;
    cursor: pointer;
    background-color: var(--linkplay);
    transition: 0.25s ease;
}

.body_link1 {
    color: black;
    font-style: italic;
    border-bottom: 3px var(--linkwork) solid;
}
.body_link1:hover {
    color: black;
    cursor: pointer;
    background-color: var(--linkwork);
    transition: 0.25s ease;
}

.body_link2{
    color: black;
    font-style: italic;
    border-bottom: 3px var(--linkneutral) solid;
}
.body_link2:hover {
    color: black;
    cursor: pointer;
    background-color: var(--linkneutral);
    transition: 0.25s ease;
}

/* ============================
LARGE QUOTE
=============================== */

.quote_container {
    min-height:100px;
    background:#F9F4EA;
    display:table;
    width:100%;
    margin-bottom:5vh;
}

.quote_inner {
    display:table-cell;
    vertical-align:middle;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
    padding:40px;
}


/* hard-coded image styling for demo */
.quote_underline {
    border-bottom:2px solid white;
    padding-top:4px;
}

.quote_inner:hover .quote_underline {
    border-bottom:2px solid var(--linkplay);
    transition:0.25s ease;
}


/* for the actual dynamic text quote */
.large_quote {
    color:black;
    border-bottom:2px solid white;
    font-size:17px;
    line-height:26px;
}

.large_quote:hover {
    border-bottom:3px solid var(--linkplay);
    color:black;
    cursor:pointer !important;
    transition:0.25s ease;
}

/* ============================
SOCIAL MEDIA ICON HOVER
=============================== */

i:hover {
    cursor: pointer;
}
.list {
    padding: 0;
}
.list li {
    display: inline;
    padding-right: 20px;
}
.fa-twitter:hover {
    color: #1da1f2;
    transition:0.25s ease;
}
.fa-facebook:hover {
    color: #3b5998;
    transition:0.25s ease;
}
.fa-pinterest:hover {
    color: #C92228;
    transition:0.25s ease;
}